<div class="reg-container">

  <form class="reg-form" [formGroup]="form" (ngSubmit)="submit()"> 
    <h1>Регистрация</h1>

    <div class="form-control">
      <label>E-mail:</label>
      <input type="text" placeholder="Введите email..." formControlName="email">
      <div 
        *ngIf="email?.invalid && email?.touched" 
        class="validation"
      >
        <span *ngIf="email?.errors?.['required']">
          Поле email не может быть пустым
        </span>
        <span *ngIf="email?.errors?.['email']">
          Email введен некорректно
        </span>        
      </div>
    </div>

    <div class="form-control">
      <label>Пароль:</label>
      <input type="password" placeholder="Введите пароль..." formControlName="password">
      <div 
        *ngIf="password?.invalid && password?.touched" 
        class="validation"
      >
        <span *ngIf="password?.errors?.['required']">
          Поле пароль не может быть пустым
        </span>
        <span *ngIf="password?.errors?.['minlength']">
          Пароль должен быть не менее 
          {{password?.errors?.['minlength']?.['requiredLength']}}
          символов
        </span>
      </div>
    </div>

    <div class="form-control">
      <label>Подтверждение пароля:</label>
      <input type="password" placeholder="Введите пароль еще раз..." 
      formControlName="passwordConfirmation">
      <div 
        *ngIf="passwordConfirmation?.invalid && passwordConfirmation?.touched" 
        class="validation"
      >
        <span *ngIf="passwordConfirmation?.errors?.['required']">
          Поле пароль не может быть пустым
        </span>
        <span *ngIf="passwordConfirmation?.errors?.['passwordDontMatch']">
          Пароли не совпадают
        </span>
      </div>
    </div>

    <button class="btn reg" type="submit" [disabled]="form.invalid">
      Зарегистрироваться
    </button>

    <div class="error-block" *ngIf="error">
      <span>ОШИБКА РЕГИСТРАЦИИ</span>
    </div>

  </form>
  
  <a routerLink="/"><button class="btn">На главную</button></a>
</div>